@model biblioteca.Models.prestamo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>prestamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.libro.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libro.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_salida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_devolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_devolucion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idprestamo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
